main {
    padding: 20px;
    color: azure;
}

ul {
    padding: 20px;
    color: azure;
}

li a {
    color: orangered;
}

dt {
    font-weight: 800;
}

dd {
    text-indent: 20px;
}

#floatPar {
    text-align: justify;
}

img {
    height: 150px;
    width: 150px;
    padding: 5px;
}

#left {
    float: left;
}

#right {
    float: right;
}