* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #333; /* This sets the background color of the page to grey */
    font-family: 'Courier New', Courier, monospace;
    background-image: url(https://wallpapercave.com/wp/6SLzBEY.jpg);
    background-repeat: no-repeat;
}

header {
    background-color: #EFEFEF;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

header .logo {
    display: flex;
}

header .logo img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    
}
header .logo h3 {
    margin: auto;
    color: #32da32;
}
header nav {
    display: flex;  
      /* This tells HTML to push the nav items to the right (end)*/
    
}

header nav ul {
    display: flex;  /* This line makes it possible for the nav item to dispay side-by-side */ 
    
}

header nav ul li {
    list-style: none; /* this removes the list item from the nav (cirlce, square, 1, I, etc.)*/
    margin: 20px; /* This adds space between the nav items */
    
    
}

header nav ul li a:hover { /* Sets the hover on list item */
    color: #32da32;
    padding: 10px;
    border: solid 2px #32da32;
    border-radius: 5px;

}

header nav ul li a {
    text-decoration: none;  /* this removes the underline from the nav items (a tag)*/
    color: #333;    /* Sets the color of the font to black */
    transition: border 0.3s ease, tranform 0.3s ease;
    margin: 5px;

}

main {
    padding: 20px;
}


#text {
    margin: auto;
    display: flex;
}

.container {
    display: flex;
    gap: 20px;      /* Spacing between the two sections*/
    align-items: flex-start;    /* Aligns the items to the top*/
}

#what-to-know {
    color: #dff;
}

.float_lft {
    width: 70px;
    height: 70px;
    float: left;
}

.float_right {
    width: 70px;
    height: 70px;
    float: right;
}

#text h6 {
    font-size: 15px;    /* Sets the font size */
    padding: 20px;
    max-width: 500px; /* Sets the max width */
    color: #dff;
    
}

#aside aside {
    display: flex;
    padding: 20px;
    color: #dff;
}


.hr-html-css {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.html-code h3{
    margin: auto;
    justify-content: center;
    display: flex;
    color: #dff;

}

.html-code a {
    text-decoration: none;
    color: #dff;
}


.html-code a:hover {
    color: #32da32;
}

.images {
    display: flex;
    margin-bottom: 10px;
}

.images .images-grid {
    color: #dff;
    justify-content: center;
    margin: auto;

}

.grid {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 290px); /* Sets the amount of grid colums This was carefully calculated :-> */
    grid-template-rows: repeat(4, 1fr); /* Sets the amount of grid rows */
    gap: 20px; /* Sets the gap betweem each column*/
    /* overflow-y: hidden; */
    
}

.grid div img {
    width: 300px;
    height: 200px;
    
    border-radius: 20px;
    transition: border 0.2s ease, transform 0.2s ease; /* Adds a smooth hover over the images*/
    will-change: border-color, transform; /* Nevermind this line...*/
    
}

.grid div img:hover {       /* What happens when an item is hovered on */
     border: solid 2px #32da32;
        
}

.aside-text {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* max-width: 1000px; */    
    margin: auto;


}

.deets summary {
    color: #0077aa;
    font-weight: 700;
}


.normal_text {
    flex: 3;
    font-size: 18px;
    line-height: 1.6;
    color: #EFEFEF;
}
.key-words {
    background-color: #7a5714;
    border: #45371c 2px solid;
    margin-bottom: 10px;
    z-index: 100;
    padding: 10px;
    position: sticky;
    top: 0;
    bottom: 0;

}

.key-words ul li {
    /* background: #f0f4f8; */
    margin: 5px;
    
    
}

.my-movies {
    padding: 30px;
    max-width: 1200px;
    margin: auto;

}

.my-movies h2 {
    color: #EFEFEF;
}
.movie-table {
    width: 100%;
    border-collapse: collapse;
    
    text-align: left;
    font-size: 16px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    
}

.movie-table thead {
    background-color: #0077aa;
    color: #fff;
    
}

.movie-table tr, .movie-table td {
    padding: 12px 15px;
    border: 1px solid #000;
}
.movie-table tbody tr:hover {
    background-color: #e6f4fa;
}

footer {
    background-color: #fff;
    display: flex;
    padding: 20px;
    justify-content: center;
}

footer .copy-content {
    display: flex;
    flex-direction: column; /* sets the direction of the items to column */
    align-items: center;
}

.icons {
    display: flex;   
    gap: 10px;
    margin-top: 10px;
}

.icons .insta:hover {
    /* background: linear-gradient(to right #ec10b5, #f6f604); */
    color: #ec10b5;
}

.icons .facebook:hover {
    color: #0469f6;
}

.icons .yt:hover {
    color: #f60418;
}

.icons .snap:hover {
    color: #f6f604;
}

