* {                             /* This code tells HTML to set the margin and padding of the whole page (all tags)
                                 to 0*/
    margin: 0;
    padding: 0; 
}

body {
    background-color: #909090; /* This sets the background color of the page to grey */
    font-family: 'Courier New', Courier, monospace;
    background-image: url(https://wallpapercave.com/wp/6SLzBEY.jpg);
}

header {
    background-color: #EFEFEF;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

header .logo {
    display: flex;
}

header .logo img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    
}
header .logo h3 {
    margin: auto;
    color: #32da32;
}
header nav {
    display: flex;  
      /* This tells HTML to push the nav items to the right (end)*/
    
}

header nav ul {
    display: flex;  /* This line makes it possible for the nav item to dispay side-by-side */ 
    
}

header nav ul li {
    list-style: none; /* this removes the list item from the nav (cirlce, square, 1, I, etc.)*/
    margin: 20px; /* This adds space between the nav items */
    
    
}

header nav ul li a:hover {
    color: #32da32;
}

header nav ul li a {
    text-decoration: none;  /* this removes the underline from the nav items (a tag)*/
    color: #333;    /* Sets the color of the font to black */
}

main {
    padding: 20px;
}


#text {
    margin: auto;
    display: flex;
}

.container {
    display: flex;
    gap: 20px;      /* Spacing between the two sections*/
    align-items: flex-start;    /* Aligns the items to the top*/
}

#what-to-know {
    color: #dff;
}

#text h6 {
    font-size: 15px;    /* Sets the font size */
    padding: 20px;
    max-width: 500px; /* Sets the max width */
    color: #dff;
    
}

#aside aside {
    display: flex;
    padding: 20px;
    color: #dff;
}


.hr-html-css {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.html-code h3{
    margin: auto;
    justify-content: center;
    display: flex;
    color: #dff;

}

.html-code a {
    text-decoration: none;
    color: #dff;
}


.html-code a:hover {
    color: #32da32;
}

.grid {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Sets the amount of grid colums*/
    grid-template-rows: repeat(4, 1fr); /* Sets the amount of grid rows */
    gap: 20px; /* Sets the gap betweem each column*/
}

.grid div p {
    color: #dff;
}

footer {
    background-color: #fff;
    display: flex;
    padding: 20px;
    justify-content: center;
}

footer .copy-content {
    display: flex;
    flex-direction: column; /* sets the direction of the items to column */
    align-items: center;
}

.icons {
    display: flex;   
    gap: 10px;
    margin-top: 10px;
}

.icons .insta:hover {
    color: #ec10b5;
}

.icons .facebook:hover {
    color: #0469f6;
}

.icons .yt:hover {
    color: #f60418;
}

.icons .snap:hover {
    color: #f6f604;
}

